<h1>Plots</h1>
<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <h3>Plot #<%= plot.number %></h3>
    <strong>Plants: </strong>
    <% plot.plant_plots.each do |plant_plot| %>
      <div id="plant-<%= plant_plot.id %>">
        <p><%= plant_plot.plant.name %> - <%= link_to 'Remove Plant', "/plant_plots/#{plant_plot.id}", method: :delete %></p>
      </div>
    <% end %>
  </div>
<% end %>
